@model Student
@{ 
    Layout = null;
}
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
<form method="Post">
    <input class="input-lg" type="text" name="Name" id="Name"/>
    <input class="btn btn-success" type="submit" value="Submit Student"/> 
</form>